@media screen and (max-width: 900px) {
    #desktop-nav {
        display: none;
    }
    #popup-nav {
        display: flex;
     }
    body {
        /* width:90vw; */
        size: 80%;
    }
    #about {
        margin-left: 0;
        margin-right: 0;
    }
    #profile {
        margin-left: 0;
        margin-right: 0;
    }
}